*{
    padding: 0;
    margin: 0;
    background-color:  rgb(72, 57, 14);
    --navfarg: rgb(219, 208, 195);
    --bakgrundsfarg: rgb(220, 220, 211);

}   
.unna-regular {
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .unna-bold {
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .unna-regular-italic {
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .unna-bold-italic {
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: italic;
  }
  .thasadith-regular {
    font-family: "Thasadith", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .thasadith-bold {
    font-family: "Thasadith", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .thasadith-regular-italic {
    font-family: "Thasadith", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .thasadith-bold-italic {
    font-family: "Thasadith", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
.menu{
    height: 40vh;
    width: 15vw;
    background: var(--navfarg);
    position: fixed;   
    right: -90vw;
    transition: right 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 100;
    top: 10vh;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 10px 10px 10px;
    align-content: space-evenly;
    
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.close{
    cursor: pointer;
    z-index: 11; 
    display: none;
  
}

.close i.material-icons{
    font-size: 10.5vh;
    background-color: var(--navfarg);
}
.menu-button i.material-icons{
    font-size: 10.5vh;  
    background-color: var(--navfarg);
    
}

.invisible{
    display: none;
}
.show{
    right: 0;
}

.fade-layer{
    position: fixed;
    
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 80;
    height: 150%;
    
}

.close.visible{
    display: block;
}


.fade-layer.visible{
    display: block;
}

#wrapper{
    display: grid;
    grid-template-areas: 
    'hd'
    'sc'
    'sor'
    'main'
    'mellan'
    'foot';
    grid-template-rows: 10vh 27vh 15vh 70vh 20vh 25vh;
    gap: 0;
    width: 100vw;
  

}
.mellan{
    grid-area: mellan;
}
footer{
    grid-area: foot;
    background-color: var(--bakgrundsfarg);
    display: grid;
    grid-template-areas: 
    'divfotbilder'
     'divfottext'
    ;



}
.divfotbilder{
    grid-area: divfotbilder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bakgrundsfarg);
    padding: 2vh 2vh 2vh 2vh;

}
.divfotbilder1{
    grid-area: divfotbilder;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2vh 2vh 2vh 2vh;

}
.divfottext{
    grid-area: divfottext;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bakgrundsfarg);
    flex-direction: column;
    padding: 1vh 1vh 1vh 1vh;
}
.divfottext1{
    grid-area: divfottext;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    padding: 1vh 1vh 1vh 1vh;
}
.fotbild{
    height: 10vh;
    background-color: var(--bakgrundsfarg);
}
.fotbild2{
    height: 10vh;
}
.fottext{
    background-color: var(--bakgrundsfarg);
    font-family: "Thasadith", sans-serif;
}
.fottext1{
    color: var(--bakgrundsfarg);
    font-family: "Thasadith", sans-serif;
}
.fotlank{
    background-color: var(--bakgrundsfarg);
    text-decoration: none;
    color: black;
    font-family: "Thasadith", sans-serif;
}
.fotlank1{
    text-decoration: none;
    color:  var(--bakgrundsfarg);
    font-family: "Thasadith", sans-serif;
}

#fotbild1{
    height: 10vh;
}

header{
    grid-area: hd;
    display: grid;
    grid-template-areas: 
    'ru nav';
    grid-template-columns: 90vw 10vw;
    grid-template-rows: 10.5vh;
    position: fixed;
    z-index: 80 ;
    margin: 0px;
    
}

#rubrik{
    grid-area: ru;
    background-color:   var(--navfarg);
    display: flex;
    align-items: center;
    padding: 2vw 2vw 2vw 2vw;

}
.rubriktext{
    transform: translate(5vw);
    background-color: var(--navfarg);
    font-size: 7vh;
    font-family: "Unna", serif;
}

nav{
    grid-area: nav;
    width: 100%;
    
    display: flex;
    flex-direction: row-reverse;
    background-color:  var(--navfarg);
    justify-content: center;

}
.kaffeloga{
    height: 7vh;
    background-color: var(--navfarg);
}

.navtext{
    background-color:  var(--navfarg);
    text-decoration: none;
    font-size: 3vh;
    color: black;
    width: 100%;
    font-family: "Unna", serif;
    
}
.navlink{
    background-color: var(--navfarg);
}
.navlist{
    background-color:  var(--navfarg);
    color: var(--navfarg);
    display: flex;
    flex-direction: column  ;
    list-style-type: none;
    gap: 1vh;
}
section{
    grid-area: sc;
    display: flex;
    align-items: center;
    padding: 10vh 22vh 10vh 22vh;
    z-index: 8;
    background-color:  var(--bakgrundsfarg);
}

#sortering{
    grid-area: sor;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
    background-color: var(--bakgrundsfarg);

   

}
button{
    height: 5vh;
    font-size: 4vh;
    padding: 5px 5px 5px 5px;
    display: flex;
    align-items: center ;
    z-index: 10;
    cursor: pointer;    
    background-color: var(--navfarg);
    font-family: "Unna", sans-serif;
}


main{
    grid-area: main;
    display: grid;
    grid-template-areas: 'list';
    justify-content: center;
    background-color:  rgb(72, 57, 14);
    padding: 5% 0 0 0;
   
}
.brödtext{
    font-size: 3.5vh;
    background-color: var(--bakgrundsfarg);
    width: 100%;

    font-family: "Thasadith", sans-serif;
}

tbody{
    z-index: 6;
}
.list{
    grid-area: list;
    width: 80vw;
    z-index: 70;
    display: flex;
    background-color:  rgb(72, 57, 14);
  
   
}
#Table{
    width: 100%;

    z-index: 14;
    background-color:  rgb(72, 57, 14);
}
table, th, td{
    border: 1px solid black;
    z-index: 15;
}

td:hover, th:hover{
    background-color: rgb(243, 197, 91);
}

th, td {
    text-align: left;
    padding: 8px;
    background-color: var(--bakgrundsfarg);
  }

td{
    font-size: 4vh;
    font-family: "Thasadith", sans-serif;
}
th{
    font-size: 5vh;
    font-family: "Unna", sans-serif;
}



.curv{
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
    background-color: transparent;

}

.curv::before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color:  var(--bakgrundsfarg);
    z-index: 3;
    transform: translate(-5%, -80%);
}
.curv::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color:  rgb(72, 57, 14);
    z-index: 8;
    transform: translate(90%, -76.8%);
}

#wrapper2{
    display: grid;
    grid-template-areas: 
    
    'hd'
    'ud1'
    'sc21'
    'buffer'
    'ud2'
    'sc22'
    'foot'
    ;
    grid-template-rows: 10.5vh 25vh 45vh 20vh 25vh 45vh 25vh;

    width: 100vw;
   
}

#underrubrik1{
    grid-area: ud1;
    background-color: var(--bakgrundsfarg);   

}

#underrubrik2{
    grid-area: ud2;
    z-index: 10;
    padding-left: 6vh;
    color: var(--bakgrundsfarg);
}
.underrubrik{

    font-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;

}
#section21{
    grid-area:  sc21;
    background-color: var(--bakgrundsfarg);
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-top: 0;
}

#section22{
    grid-area:  sc22;
    background-color:  rgb(72, 57, 14);
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-top: 0;
}

.buffer{
    grid-area: buffer;
}


.underrubriktext{
    background-color: transparent;
    font-size: 7vh;
    font-family: "Unna", sans-serif;
}
.sectionbrodtext1{
    font-size: 3.5vh;
    background-color: var(--bakgrundsfarg);
    font-family: "Thasadith", sans-serif;
    padding-bottom: 2vh;
}
.fordelarlist li{
    font-size: 3.5vh;
    background-color: var(--bakgrundsfarg);
    font-family: "Thasadith", sans-serif;
    height: 6vh;
}
.fordelarlist{
    font-family: "Thasadith", sans-serif;

    text-transform: initial;
}
.sectionbrodtext2{
    font-size: 3.5vh;
    color: var(--bakgrundsfarg);
    font-family: "Thasadith", sans-serif;
}
.sectionbrodtext3{
    font-size: 3.5vh;
    color: var(--bakgrundsfarg);
    font-family: "Thasadith", sans-serif;
}
.nackdelarlist li{
    font-size: 3.5vh;
    height: 6vh;
    font-family: "Thasadith", sans-serif;
}
.nackdelarlist{
    color: var(--bakgrundsfarg);
    padding-left: 15vh;
    padding-top: 2vh;
    font-family: "Thasadith", sans-serif;
    text-transform: initial;
    font-size: 3vh;
}

.curv2{
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
    background-color: transparent;

}

.curv2::before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color:  var(--bakgrundsfarg);
    z-index: 3;
    transform: translate(-5%, -4%);
}
.curv2::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color:  rgb(72, 57, 14);
    z-index: 8;
    transform: translate(90.7%, -3.5%);
}

#wrapper4{
    width: 100%;
    display: grid;
    grid-template-areas: 
    'hd'
    'ur3'
    'gra'
    'main4'
    'foot'
    ;
    grid-template-rows: 10.5vh 30vh 50vh 1fr 25vh;
}
#underrubrik3{
    grid-area: ur3;
    background: var(--bakgrundsfarg);
    display: flex;
    justify-content: center;
    align-items: center;

}
#underrubriktext3{
    background-color: transparent;
    font-size: 10vh;
    font-family: "Unna", sans-serif;
}
.gradient{
    grid-area: gra;
    background: linear-gradient(180deg, rgba(220,220,211,1) 0%, rgba(72,57,14,1) 35%);
}

#main4{
    grid-area: main4;
    display: grid;
    grid-template-areas: 
    'sc3'
    ;
}
.section31{
    grid-area: sc31;
    background-color: rgb(72, 57, 14);
    display: flex;
    flex-direction: column;
    transform: translate(0, -30vh);
    gap: 5vh;
    
}

#wrapper3{
    display: grid;
    grid-template-areas: 
    'hd'
    'ur4'
    'curv3'
    'mn3'
    'foot';
    grid-template-rows: 10.5vh 60vh 20vh 1fr 25vh;
}
#underrubrik4{
    grid-area: ur4;
    background-color: var(--bakgrundsfarg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0vh 30vh 15vh 30vh;
    gap:4vh;

}

#main3{
    grid-area: mn3;
    display: grid;
    grid-template-areas: 
    'per1'
    'per2'
    'per3'
    ;
   grid-template-columns: 95%;
    grid-template-rows: 102vh 102vh 102vh;
    overflow: hidden;

}
.personbild{
    height: 50vh;
    background-color: var(--bakgrundsfarg);
    border: black dotted 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
}
#person1{
    grid-area: per1;
    padding: 0 5vw 0 ;
    margin: 5vh 5vh 5vh 5vh;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    border-radius: 40vh;
}
#person2{
    grid-area: per2;
    padding: 0 5vw 0 ;
    margin: 5vh 5vh 5vh 5vh;    
    display: flex;
    flex-direction: column;
    gap: 7vh;
    border-radius: 40vh;
}
#person3{
    grid-area: per3;
    padding: 0 5vw 0 ;
    margin: 5vh 5vh 5vh 5vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    border-radius: 40vh;
}

.brodtext{
    background-color: transparent;
    font-size: 3vh;
    font-family: "Thasadith", sans-serif;
}
.persontext{
    background: transparent;
    border:dashed black;
   padding: 3vh 3vh 3vh 3vh;
   margin-top: 3vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Thasadith", sans-serif;
   gap: 3vh;
}
.personrubrik{
    background-color: transparent;
    font-size: 4vh;
    margin-top: 4vh;
    font-family: "Unna", sans-serif;
}


.curv3{
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
    background-color: transparent;

}

.curv3::before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color:  rgb(72, 57, 14);
    z-index: 3;
    transform: translate(-5%, -30%);
}
.curv3::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color:  var(--bakgrundsfarg);
    z-index: 8;
    transform: translate(90.7%, -29.5%);
}

aside{
    grid-area: aside;

    overflow-y:  hidden;
}
#wrapper5{
    display: grid;
    grid-template-areas: 
    'hd'
    'ud5'
    'main5'
    'foot'
    ;
    background-color: var(--bakgrundsfarg);
    grid-template-rows: 10.5vh 20vh 1fr 27vh;

}
#vissainte{
    display: none;
}

#underrubrik5{
    grid-area: ud5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bakgrundsfarg);
    margin: 10vh;
}
.main5{
    grid-area: main5;
    background-color: var(--bakgrundsfarg);
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 25vw 5vh 25vw;
    gap: 3vh;
}


.main5 h3{
    background-color: var(--bakgrundsfarg);
    padding-bottom: 2vh;
 font-family: "Unna", sans-serif;
}
.main5 h4{
    background-color: var(--bakgrundsfarg);
    font-weight: normal;
    font-family: "Thasadith", sans-serif;
    
}
.butten1{
    cursor: pointer;
    display: block;
}
.popuptext1{
    display: none;
}
.popuptext1.visible{
    display: block;
}
.butten2{
    cursor: pointer;
    display: block;
}
.popuptext2{
    display: none;
}
.popuptext2.visible{
    display: block;
}
.butten3{
    cursor: pointer;
    display: block;
}
.popuptext3{
    display: none;
}
.popuptext3.visible{
    display: block;
}
.butten4{
    cursor: pointer;
    display: block;
}
.popuptext4{
    display: none;
}
.popuptext4.visible{
    display: block;
}
.butten5{
    cursor: pointer;
    display: block;
}
.popuptext5{
    display: none;
}
.popuptext5.visible{
    display: block;
}
.butten6{
    cursor: pointer;
    display: block;
}
.popuptext6{
    display: none;
}
.popuptext6.visible{
    display: block;
}
.butten7{
    cursor: pointer;
    display: block;
}
.popuptext7{
    display: none;
}
.popuptext7.visible{
    display: block;
}
.butten8{
    cursor: pointer;
    display: block;
}
.popuptext8{
    display: none;
}
.popuptext8.visible{
    display: block;
}


@media screen and (max-width: 500px){
    header{
        grid-template-columns: 80vw 20vw ;
    }
    section{
        padding: 3vh 2vh 2vh 2vh;
    }
    .brödtext{
        font-size: 2vh;
    }
    button{
        font-size: 3vh;
    }
    tr th:nth-child(2),tr td:nth-child(2){

        display:none;
      }
    .button3{
        display: none;
    }
    .menu{
        width: 40vw;
      
    }
    .navlist{
        gap: 4vh;
    }
    .curv::before{
        transform: translate(-5%, -35vh);
    }
    .curv::after{
        transform: translate(87%, -92%);
    }

    .rubriktext{
        font-size: 3vh;
        transform: translate(7vw);
    }

    .underrubriktext{
        font-size: 5vh;
    }
    .sectionbrodtext1{
        transform: translate(0, -5vh);
        font-size: 3vh;
    }
    .fordelarlist{
        transform: translate(0, -5vh);
        font-size: 2.5vh;

    }
    .nackdelarlist li{

    font-size: 3vh;
    }
    .rubriktext{
        font-size: 6vh;
    }
    .sectionbrodtext2{

    font-size: 3vh;
    }
    .curv2{display: none;}
    #underrubrik2{
        margin: 0;
        padding: 0;
    }
    .buffer{
        display: none;
    }
    #wrapper2{
        grid-template-areas: 
            
    'hd'
    'ud1'
    'sc21'
    'ud2'
    'sc22'
    'foot';
    grid-template-rows: 10.5vh 20vh 50vh 20vh 80vh 25vh;
    }
    .nackdelarlist{
        padding: 0;
    }

    #section21{
        padding: 0vh 7vh 0vh 7vh;
    }
    #section22{
        padding: 0vh 7vh 0vh 7vh;
    }
    #underrubriktext3{
        font-size: 4.4vh;
    }
    #underrubrik4{
        padding: 4vh 2vh 0 2vh;
        gap: 1vh;
        margin: 0;
        justify-content: start;
    }
    .brodtext{
        font-size: 2.5vh;
    }
    #main3{
        grid-template-rows: 100vh 80vh 80vh;
    }

    #wrapper3{
        grid-template-rows: 10.5vh 60vh 20vh 260vh;
    }
    .personrubrik{
        font-size: 3vh;
    }
    #main3 section{
        border-radius: 0;
    }
    .navlank{
        display: none;
    }
    .persontext{
        display: none;
    }

    .sectionbrodtext2{
        display: none;
    }

    #klippkungenloga{
        height: 15vh;
    }

    #fotdiv5{
        background-color:rgb(72, 57, 14);
        color:rgb(72, 57, 14);
    }
}

@media screen and (min-width: 501px){

    .menu-button{
        display: none;
    }

    header{
        grid-template-areas: 
        'ru navlank';
        grid-template-columns: 35vw 65vw;
    }
    .navlank{
        display: flex;
        background-color: var(--navfarg);
        justify-content: space-evenly;
        align-items: center;

    }
    .navlanktext{
        color: black;
        text-decoration: none;
        background-color: var(--navfarg);
        font-size: 3vh;
        font-family: "Unna", serif;
        margin-right: 5vw;

    }
    nav{ 
        display: none;
        overflow-y: hidden;
    }

    #wrapper4{
     
        grid-template-rows: 10.5vh 30vh 50vh 141vh 25vh;
    }

    .section31{
       display: flex;
    }
    #aside4{
        display: block;
        grid-area: aside;
        z-index: 10;
       
        background: transparent;
    }
    #klippkungenloga{
        height: 30vh;
    }
    .sectionbrodtext3{
        display: none;
    }
    
    
}

footer{
    overflow-y: hidden;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;

    
}