*{
    padding: 0;
    margin: 0;
    background-color: rgb(230, 191, 131);

}   

.menu{
    height: 40vh;
    width: 20vw;
    background: hotpink;
    position: fixed;    
    right: -90vw;
    transition: right 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    top: 10vh;
    
}

.menu-button{
    cursor: pointer;
    display: inline;
 
}

.close{
    cursor: pointer;
    z-index: 11;  
    display: none;
  
}

.close i.material-icons{
    font-size: 10.5vh;
    background-color: rgb(222, 214, 129);
}

.menu-button i.material-icons{
    font-size: 10.5vh;  
    background-color: rgb(222, 214, 129);
}

.invisible{
    display: none;
}
.show{
    right: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
    top: 10vh;
}

.close.visible{
    display: block;
}
.fade-layer.visible{
    display: block;
}

#wrapper{
    display: grid;
    grid-template-areas: 
    'hd'
    'sc'
    'sor'
    'main';
    grid-template-rows: 10vh 27vh 15vh 70vh;
}

header{
    grid-area: hd;
    display: grid;
    grid-template-areas: 
    'ru nav';
    grid-template-columns: 93.8vw 1fr;
    grid-template-rows: 10.5vh;
    position: fixed;
}

#rubrik{
    grid-area: ru;
    background-color: rgb(222, 214, 129);
    display: flex;
    align-items: center;
    justify-content: center ;
   
}

nav{
    grid-area: nav;
}

section{
    grid-area: sc;
    display: flex;
    align-items: center;
    margin: 5vh 10vh 10vh 10vh;

}
#sortering{
    grid-area: sor;
    justify-self: center;
    align-items: center;

}
button{
    height: 5vh;
    cursor: pointer;
    
}

main{
    grid-area: main;
    display: grid;
    grid-template-areas: 'list';
    justify-content: center;
}
.brödtext{
    font-size: 3.5vh;
}
.list{
    grid-area: list;
    width: 80vw;
}
table{
    width: 100%;
}
table, th, td{
    border: 1px solid black;
}

td:hover{
    background-color: aquamarine;
}

th, td {
    text-align: left;
    padding: 8px;
  }

td{
    font-size: 4vh;
}
th{
    font-size: 5vh;
}

